
<app-nav-bar></app-nav-bar>
<button class="icono-filtro" (click)="toggleFiltros()">
  <i class="bi bi-list" style="color: white;"></i>
</button>

@if(mostrarFiltros){
<div class="filtros">
<label for="tipoCombustible">Tipo de Combustible:</label>
<select id="tipoCombustible" [(ngModel)]="tipoCombustible">
  <option value="gasolina">Gasolina</option>
  <option value="diesel">Diesel</option>
</select>

<label for="precioMin">Precio Mínimo:</label>
<input type="number" id="precioMin" [(ngModel)]="precioMin" />

<label for="precioMax">Precio Máximo:</label>
<input type="number" id="precioMax" [(ngModel)]="precioMax" />
<!--
<mat-form-field class="example-full-width">
  <mat-label>Código Postal</mat-label>
  <input matInput
         type="text"
         placeholder="Pick one"
         aria-label="Código Postal"
         [formControl]="postalCodeControl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredPostalCodes | async" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>
</mat-form-field>-->
   

<div class="checkboxes">
  <label><input type="checkbox" value="REPSOL" (change)="onRotuloChange($event)" /> REPSOL</label>
  <label><input type="checkbox" value="CEPSA" (change)="onRotuloChange($event)" /> CEPSA</label>
  <label><input type="checkbox" value="CARREFOUR" (change)="onRotuloChange($event)" /> CARREFOUR</label>
  <label><input type="checkbox" value="TAMOS" (change)="onRotuloChange($event)" /> TAMOS</label>
  <label><input type="checkbox" value="FAMILY ENERGY" (change)="onRotuloChange($event)" /> FAMILY ENERGY</label>
  <label><input type="checkbox" value="INPEALSA" (change)="onRotuloChange($event)" /> INPEALSA</label>
  <label><input type="checkbox" value="PETROCAMP" (change)="onRotuloChange($event)" /> PETROCAMP</label>
  <label><input type="checkbox" value="ALCAMPO" (change)="onRotuloChange($event)" /> ALCAMPO</label>
</div>
<label for="comunidad">Comunidad Autónoma:</label>
<select id="comunidad" [(ngModel)]="selectedComunidad" (change)="onComunidadChange()">
  <option value="">Todas</option>
  <option *ngFor="let comunidad of comunidadesAutonomas" [value]="comunidad.IDCCAA">
    {{ comunidad.CCAA }}
  </option>
</select>

<label for="provincia">Provincia:</label>
<select id="provincia" [(ngModel)]="selectedProvincia" [disabled]="!selectedComunidad">
  <option value="">Seleccione Provincia</option>
  <option *ngFor="let provincia of provincias" [value]="provincia.IDPovincia">
    {{ provincia.nombre }}
  </option>
</select>

<button (click)="filtrarGasolineras()">Filtrar</button>
</div>
}

@if(noResults){
<div>
<p>No hay resultados que coincidan con los filtros.</p>
</div>
}

@if(!noResults){
<section class="resultados">
<h3>Resultados de la búsqueda:</h3>
<div class="grid">
  @for(gasolinera of listadoGasolineras; track gasolinera.id){
  <div class="card">
    <h4>Estación: {{ gasolinera.nombre }}</h4>
    <p><strong>IDEESS:</strong> {{ gasolinera.id }}</p>
    <p><strong>Código Postal:</strong> {{ gasolinera.postalCode }}</p>
    <p><strong>Precio Gasolina 95:</strong> {{ gasolinera.price95 }}</p>
    <p><strong>Precio Diesel:</strong> {{ gasolinera.priceDiesel }}</p>
    <p><strong>Rótulo:</strong> {{ gasolinera.rotulo }}</p>
    <a [href]="gasolinera | googleMapsRoutePipe" target="_blank" class="btn btn-primary"
      style="background-color: #2e7af3; border-color: #6306af;">Cómo llegar</a>
  </div>
  }
</div>
</section>
}